<div class="container">
  <form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
    <input formControlName="teamId" placeholder="Team ID">
    <div *ngIf="teamForm.get('teamId').invalid && teamForm.get('teamId').touched">ID is required</div>

    <input formControlName="teamName" placeholder="Team Name">
    <input formControlName="location" placeholder="Location">
    <input formControlName="ownerName" placeholder="Owner Name">
    <input type="number" formControlName="establishmentYear" placeholder="Year">

    <button type="submit" [disabled]="teamForm.invalid">Create Team</button>
    <button type="button" (click)="resetForm()">Reset</button>
  </form>

  <p class="success" *ngIf="successMessage">{{ successMessage }}</p>
  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
</div>
